{% extends 'base.html' %}
{% load static %}

{% block title %}
    SaaS Home Page
{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="{% static 'img/slide001.jpg' %}">
            <div class="hs-text">
                <div class="container">
                    <h2>The Best <span>Games</span> Out There</h2>
                    <p><strong>"SONY Recreation Center"</strong> <br> A place to chill with your friend and have fun <br> <br>- 100+ Online multiplayer games <br>- Online group activities like Zumba, Yoga, Live Match Telecast <br>- Online chatrooms for Like-minded discussions</p>
                    <a href="{% url 'review_page' %}" class="site-btn">Explore More</a>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="{% static 'img/page-2.jpg' %}">
            <div class="hs-text">
                <div class="container">
                    <h2>The Best <span>Videos</span> Out There</h2>
                    <p><strong>"SONY Recreation Center"</strong> <br> A place to chill with your friend and have fun <br> <br> Curated list of online videos on home exercises,mind relaxation & personal development</p>
                    <a href="{% url 'videos_page' %}" class="site-btn">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}