{% extends 'base.html' %}
{% load static %}

{% block title %}
    SaaS Game Page
{% endblock %}

{% block content %}
<section class="page-info-section set-bg" data-setbg="{% static 'img/03.jpg' %}">
	<div class="pi-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-10 col-lg-20 text-white">
					<h2>Games spot</h2>
					<p style="font-size:20px;">Single and muliplayer 100+ online web games to relax you mind during breaks <br> Enjoy the games!!</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Page info section -->

<!-- Page section -->
<section class="page-section review-page spad">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div>
				 <!--<script src="https://cdn.htmlgames.com/embed.js?game=LetterScramble&amp;bgcolor=white"></script>-->
				 <iframe width="560" height="315" src="https://cdn.htmlgames.com/LetterScramble/" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div>
				 <!--<script src="https://cdn.htmlgames.com/embed.js?game=Mahjong2048&amp;bgcolor=white"></script>-->
				 <iframe width="560" height="315" src="https://cdn.htmlgames.com/Mahjong2048/" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			   </div>
			</div>
			<div class="col-md-6">
				<div>
				  <!--<script src="https://cdn.htmlgames.com/embed.js?game=Ludo&amp;bgcolor=white"></script>-->
				  <iframe width="560" height="315" src="https://cdn.htmlgames.com/Ludo/" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div>
				 <!--<script src="https://cdn.htmlgames.com/embed.js?game=UpsideDown&amp;bgcolor=white"></script>-->
				 <iframe width="560" height="315" src="https://cdn.htmlgames.com/UpsideDown/" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>	
	</div>
</section>
<!-- Page section end -->

<!-- Footer top section -->
<section class="footer-top-section">
	<div class="container">
		<div class="footer-top-bg">
		</div>
		<div class="row">
			<div class="col-lg-20">
				<div class="footer-logo text-white">
					<img src="{% static 'img/sonylogo.png' %}" alt="">
					<p> <strong> <h5> Our Goal </strong> </h5> <br> To create an online platform that helps Sony Employees develop a Healthy mind, Healthy body and Healthy Life.</p>
				</div>
			</div>
		</div>	
	</div>
</section>
{% endblock %}